*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #f5f5f5;
}

h1{
    text-align: center;
    color: #324569;
    opacity: .7;
    margin-top: 100px;
    margin-bottom: 20px;
}

form{
    max-width: 500px;
    width: 100%;
    margin: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.search_wrapper{
    display: flex;
}

.input{
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    border: none;
}

.input::placeholder{
    color: #b5b5b5;
    font-style: italic;
}

.input:focus{
    outline: none;
}

.btn{
    border: none;
    background-color: #dddada;
    font-size: 16px;
    padding: 10px 20px;
}

.todo__list{
    list-style-type: none;
    background-color: #fff;
}

.todo__list li{
    border-top: 1px solid #e5e5e5;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-times{
    color: #666;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    color: #fff;
    background-color: rgb(189, 189, 189);
}